.cci__container {
  display: inline-block;
}

.cci__container__inner {
  position: relative;
}

.cci__container__img {
  position: absolute;
  inset-inline-end: 2%;
  height: 60%;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.cci__error {
  color: red;
  font-size: 12px;
  margin-top: 3px;
}
